apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: myapp-prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: app
        image: cr.yandex/<ваш-registry-id>/myapp:latest
        ports:
        - containerPort: 5000
        envFrom:
        - secretRef:
            name: myapp-secrets